body {
	background-image: url("https://raw.githubusercontent.com/nateodes/gifSearch/master/assets/images/background-min.jpg");
	font-family: 'Roboto', sans-serif;
	font-family: 'Fira Sans', sans-serif;
}

.btn-sm {
	border-radius: 22px;
	margin: 8px;
}

#gifBin {
	width: 80%;
	height: auto;
	background-color: ;
}

.gif {
	height: 150px;
	width: 150px;
	float: left;
	margin: 5px;
	position: relative;
	background-color: white;
	padding: 5px;
}

.gifSearch {
	margin-top: -10px;
	margin-left: 10px;
}

.jumbotron {
	background-color: black;
	color: white;
	font-style: italic;
	letter-spacing: 2px;
}



label {
	font-size: 3.0rem;
	color: white;
	float: left;
	margin-left: -35px;
	margin-top: -10px;

}



.rating {
	position: absolute;
	z-index: 1;
	color: white;
}