#gifBin {
	width: 80%;
	height: auto;
	background-color: ;
}

.gif {
	height: 150px;
	width: 150px;
	float: left;
	margin: 5px;
	position: relative;
}

.rating {
	
	position: absolute;
	z-index: 1;
	
	color: white;
	
	
	
}

.jumbotron {
	background-color: black;
	color: white;
}

body {
	background-color: gold;
}

label {
	font-size: 2.0rem;
	color: white;
	float: left;
	margin-left: -35px;

}

button {
	border-radius: 32px;
	margin: 8px;
}